body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    // max-width: 700px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .container-first{
    display: grid;
    gap:90px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 35%;
     position: absolute;
     border:2px solid black;
     grid-column-start: auto;
  }
  .container-second {
    display: grid;
    gap:90px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-start: auto;
    width: 35%;
     position: absolute;
     left: 1000px;
     border:2px solid black;
  }
  .baton {
    margin:20px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 5px;

  }
  input {
    width: 60%;
    
  }

.kruzhok {
    width: 150px;
    height: 150px;
    background-color: yellow;
}

.button-circle {
  margin-top: 40px;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color:black;
  background: violet;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;

}
.button-circle:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button-circle:active {
  color: violet
}

.button-circle:active:after {
  background: transparent;
}

.button-circle:hover:before {
  opacity: 1;
}

.button-circle:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:orange;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



.input-circle {
  margin-left: 20px;
  margin-top: 10px;
  height: 25px;
  font-size: 20px;
  padding-left: 5px;
  text-align: center;
}

@media (max-width: 640px) {
    .container > .data-container {
    //  grid-column-start: 2;
     margin:0;
     width: 100%;
    }
  }
  @media (min-width: 1000px) {
    .container {
      margin-left: 100px;
     grid-column-start: 0;
  //   //  margin:0;
  //    width: 100%;
    }
  }

  .container {
    display: grid;
    gap:30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-start: 3;
    width: 80%;
    position: absolute;
    border:2px solid black;
    //  margin-left: 100px;
  }

  .data-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: brown 1px solid;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    transition: transform .2s; /* Animation */
    
  }
  .data-container:hover{
    background-color: blanchedalmond;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .data-index {
    padding:15px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }

  .status {
    position: absolute;
    display: flex;
    margin-top: 20px;
    right: 0;
    bottom: 0;
    background-color: greenyellow;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  }
  .data-container:hover .status{
    display: flex;
}

  .user {
    font-size: 20px;
    text-decoration: underline;
    padding:10px;
    padding-top: 0;
    margin-bottom: 10px; 
  }
  .author {
    text-decoration: underline;
    position: relative;
    bottom: 0;
  }

  .title {
    font-size: 20px;
  }

  .knygos-img {
    height: 50%;
    width: 60%;
    margin-bottom: 40px;
  }
  
  .price {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    font-weight: 700;
  }

  .buy-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  