body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.kvadratas {
  
  width: 500px;
  padding:0;
  display:flex;
  flex-direction: row-reverse;
  height: 500px;
  background-color: aqua;
  margin: 40px;
  margin-left: 400px;
  span {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  &.br {
    background-color: black;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .circle-button {
    animation: kvadratas-spin infinite 1s linear;
  }
}

.baton {
  margin:20px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
}
.container {
  display:flex;
  flex-direction: column;
}
  .baton:hover {
    background-color:papayawhip;
    color: rebeccapurple;
  }
  .baton:active {
    background-color:gray
  }
  
.hover{
  background-color: yellow;
}

.nice-digit {
 
  font-size: 20px;
  text-align: center  ;
  background-color: darkorange;
  border-radius: 10px;
  &.green {
    background-color: black;
  }
}

.bin {
  // background-color: yellow;
  border: 2px solid orange;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} 

.greenCircle {
  width: 450px;
  height: 450px;
  background-color: green;  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .circle-button {
    background-color: yellow;
    font-size: 40px;
    margin:10px; 
  }

}
.circle-button:hover {
  background-color: hotpink;
}

// .circle-button 



// @keyframes circle-button-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(180deg);
//   }
// }


/* The element to apply the animation to */